body {

  margin: 0;

  background: black;

  color: #ff4df0;

  font-family: 'Courier New', monospace;

  text-align: center;

}



.container {

  padding: 50px;

}



.subtitle {

  color: #b366ff;

  margin-bottom: 30px;

}



button {

  background: transparent;

  border: 1px solid #ff4df0;

  color: #ff4df0;

  padding: 10px 20px;

  margin: 5px;

  cursor: pointer;

  transition: 0.3s;

}



button:hover {

  background: #ff4df0;

  color: black;

  box-shadow: 0 0 10px #ff4df0;

}



.section {

  display: none;

  margin-top: 30px;

}



.section.active {

  display: block;

}



/* GLITCH EFFECT */

.glitch {

  font-size: 60px;

  position: relative;

  color: #ff4df0;

  animation: glitch 1s infinite;

}

.popup {
  display:none; 
  position: fixed;
  top:40%;
  left:50%
    transform: translate(-50%, -50%);
  background: black;
  color: pink;
  padding: 20px;
  border: 1px solid pink;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes glitch {

  0% { text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff; }

  25% { text-shadow: -2px 2px #ff00ff, 2px -2px #00ffff; }

  50% { text-shadow: 2px -2px #ff00ff, -2px 2px #00ffff; }

  75% { text-shadow: -2px -2px #ff00ff, 2px 2px #00ffff; }

  100% { text-shadow: 2px 2px #ff00ff, -2px -2px #00ffff; }

}
